In [3]:
import pandas as pd


DEFAULT_DATA_FILE_PATH = "data/realty.tsv"

In [4]:
df = pd.read_csv(DEFAULT_DATA_FILE_PATH, sep="\t")

In [5]:
df.head(2)

,CityHash,area,balcony,build_year,building_series_id,building_type_int,ceiling_height,first_day_exposition,first_month_exposition,flats_count,...,longitude,offer_id_hash,parking,price_sqm,renovation,rooms,rooms_offered,studio,total_area,unified_address
0,9846558176160253361,35.099998,1,1965,663294,6,2.64,1647032400000000,2022-03,84,...,37.78112,4710561669182977508,8,270655.282421,10,1,1,False,35.099998,"Россия, Москва, 1-я Новокузьминская улица, 6"
1,7756789824974483327,31.500000,0,1964,663294,6,2.64,1606165200000000,2020-11,0,...,37.59383,11210712509691726138,8,276190.476190,1,1,1,False,31.500000,"Россия, Москва, Нагорный бульвар, 5к1"

In [41]:
df.shape

(312140, 30)

In [13]:
df.columns

Index(['CityHash', 'area', 'balcony', 'build_year', 'building_series_id',
       'building_type_int', 'ceiling_height', 'first_day_exposition',
       'first_month_exposition', 'flats_count', 'floor', 'floors_total',
       'has_elevator', 'is_apartment', 'kitchen_area', 'last_day_exposition',
       'last_price', 'latitude', 'living_area', 'locality_name', 'longitude',
       'offer_id_hash', 'parking', 'price_sqm', 'renovation', 'rooms',
       'rooms_offered', 'studio', 'total_area', 'unified_address'],
      dtype='object')

In [19]:
len(df["CityHash"].unique()) == df.shape[0]

True

In [38]:
df["studio"].value_counts()

studio
False    294229
True      17911
Name: count, dtype: int64

#### Features Types:

- Numeric features: `area`, `ceiling_height`, `flats_count`, `floor`, `floors_total`, `floor`/`floors_total`, `kitchen_area`, `kitchen_area`/`area`, `living_area`, `living_area`/`area`, `price_sqm`, `rooms`, `rooms_offered`, `total_area`
- Categorical features: `balcony`, `building_series_id`, `building_type_int`, `ceiling_height`, `floor`, `has_elevator`, `is_apartment`, `parking`, `renovation`, `rooms`, `studio`, 
- Date features: `build_year`, `first_day_exposition`, `first_month_exposition`, `last_day_exposition`
- Text feature: `locality_name`, `unified_address`
- Geo features: `latitude`, `longitude`, `unified_address`, `locality_name`